<% if (theme.visit_counter) { %>
<p>
<a href="https://analytics.google.com/analytics/web/#/" target="_blank">Google Analytics</a><span class="post-count">共计&nbsp;<%= totalcount(site) %>&nbsp;字</span>
</p>
<% } %>
